.reports {
	.info {
		display: flex;
		align-items: center;
		gap: 20px;
		margin-bottom: 20px;

		button {
			padding: 7px;
			border-radius: 25px;
			cursor: pointer;
			align-items: center;
		}
	}
}
